* {
  margin: 0;
  font-family: Roboto, sans-serif;
}

body {
  background-color: #f1f5f8;
}

img {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  border-radius: 50%;


}

h2 {
  color: #102a42;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold ;
  font-family: 'Roboto', sans-serif;
  
}

  

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 300px;
}


.title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
 
}

.review{
  background-color: #ffffff;
  border-radius: 5%;
  width: 600px;
  height: 400px;
  

}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  
}

#author{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

h4#author{
  font-family: 'Roboto', sans-serif;
  color: #102A42;
  font-size:16px;
  line-height: 16px;
  font-weight: 700;
}


#job{
  display: flex;
  justify-content: center;
  align-items: center;
}

p#job{
  color: #49A6E9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13.6px;
  line-height: 20.4px;
  font-weight: 400;


}

#info{
  display: flex;
  justify-content: center;
  align-items: center;
}

p#info{
  text-align: center;
  color: #617D98;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

}

.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  
}
.prev-btn {
    margin: 10px;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color: #8bcbf9;
    line-height: 20px;
    font-weight: 900;
}

.next-btn {
  margin: 10px;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color: #8bcbf9;
    line-height: 20px;
    font-weight: 900;
}

.random-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    
}

.btn {
 background:hsl(205, 100%, 96%);
  color: hsl(205, 78%, 60%);
  border-radius: 00.5rem;
  border-color: hsl(205, 78%, 60%);;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

.btn:hover {
  background-color: hsl(205, 78%, 60%);
  color: hsl(205, 86%, 17%);


}